---
layout: default
title: 'Hello, World!'
description: 'I am a full stack developer experienced in C#, .NET, Angular 2+, Ionic, JavaScript, NodeJS, HTML/CSS. Welcome to my project homepage, and I hope you find what you are looking for below.'
---

            <br>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Hello, World!</h1>
                        <p>
                            I am a full stack developer experienced in C#, .NET, Angular 2+, Ionic, JavaScript, NodeJS, HTML/CSS. 
                            Welcome to my project homepage, and I hope you find what you are looking for below.
                        </p>
                            <br>
                        <p>
                            <a class="btn btn-primary btn-lg" href="https://github.com/shadowcodex">Skip Straight To My Github Profile... <span class="glyphicon glyphicon-chevron-right"></span></a>
                            &nbsp;&nbsp;&nbsp;<a class="btn btn-info btn-lg" href="/blog/">View Blog...<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </p>
                    </div>
                </div>    
            </div> -->
            {% include nav.html %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Other Sites</h2>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Twitter</div>
                        <div class="panel-body">
                            <p>Yup, I am on twitter. I read it all the time and find a lot of tech news there. No judging...<br><br></p>
                            <a class="btn btn-info btn-block" href="https://twitter.com/iamMrDuncan">Visit My Twitter <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">CodexUI</div>
                        <div class="panel-body">
                            <p>Bootstrap UI Library, starting with vanilla Bootstrap components. Themes and Premium components coming too.</p>
                            <a class="btn btn-info btn-block" href="https://codexui.com">Visit CodexUI <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% include contributed-projects.html %} 
            {% include general-projects.html %}
            {% include eve-projects.html %}                                   
            {% include afcu-projects.html %}
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        Copyright &copy Shannon Duncan, 2008 - 2017. 
                    </div>    
                </div>                
            </div>
        </div>
        
        
        
        