<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>{{page.title}}</h1>
            <p>{{page.description}}</p>
            <p>
                <a class="btn btn-primary btn-md" href="https://github.com/shadowcodex">Skip Straight To My Github Profile <span class="glyphicon glyphicon-chevron-right"></span></a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="/">Go Home <span class="glyphicon glyphicon-chevron-right"></span></a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="/blog/">View Blog <span class="glyphicon glyphicon-chevron-right"></span></a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info btn-md" href="/contact/">Contact <span class="glyphicon glyphicon-chevron-right"></span></a>&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </div>    
</div>